<h1>DEPOIMENTOS</h1>
<hr />

<section id="depoimentos">
  <div class="card text-dark mb-3">
    <h5 class="card-header">Goku Black - <small>Zamasu</small></h5>
    <div class="card-body">
      Humanity was the only failure of God's perfect creation. The only error
      among all of God's perfect creations is humanity.
    </div>
  </div>
  <div class="card text-dark mb-3">
    <h5 class="card-header">Gol D. Roger - <small>Rei dos Piratas</small></h5>
    <div class="card-body">
      My riches and treasures?? If you want it, I'll let you have it. Look for
      it, I left everything in that place!!
    </div>
  </div>
  <div class="card text-dark mb-3">
    <h5 class="card-header">Marshall D. Teach - <small>Barba negra</small></h5>
    <div class="card-body">
      This "New Age" of theirs is pure lie. The era in which pirates dream is
      over! Huh ?! People 's dreams ... have no end !
    </div>
  </div>
</section>

<hr />

<section id="form">
  <h3>Envie seu depoimento</h3>

  <form method="post">

    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" name="nome" required />
    </div>

    <div class="form-group">
      <label>Mensagem</label>
      <textarea
        class="form-control"
        name="mensagem"
        rows="5"
        required
      ></textarea>

    </div>
    <div class="form-group mt-3">
      <button type="submit" class="btn btn-success">enviar</button>
    </div>

  </form>

</section>
